.fiatlux-images {
  max-width: 1400px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin: auto;
  padding: 40px 20px;
}

.flex-item {
  box-sizing: border-box;
  margin: 0px 10px;
  padding: 0px;
}

.fiatlux-images img {
  box-sizing: border-box;
  object-fit: cover;
  height: 220px;
  border-width: 0;
  border-radius: 7px;
}

#copy {
  padding-top: 0;
}

