.main-gallery {
  max-width: 1400px;
  height: 220px;
  overflow-x: scroll;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin: auto;
  align-items: center;
  padding: 40px 20px;
}

.gallery-flex-item {
  box-sizing: border-box;
  margin: 0px 10px;
  padding: 0px;
}

.main-gallery img {
  box-sizing: border-box;
  object-fit: cover;
  height: 220px;
  border-width: 0;
  border-radius: 7px;
}

.no-overflow {
  overflow: hidden;
}

#copy {
  padding-top: 0;
}

#sidebar {
  /* Positioning on the page */
  margin: 20px;
  /* Positioning child elements inside this div */
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.circle {
  width: 140px;
  height: 140px;
  text-align: center;
  line-height: 250px;
  border-radius: 50%;
  font-size: 50px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  background: #000;
}
.circle p {
  font-size: 24px;
  text-align: center;
  padding: 54px 0;
  margin: 0;
}

.speakers {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

.speaker-card-wrapper {
  box-sizing: border-box;
  display: block;
  color: black;
  flex-grow: 0;
  padding-right: 8px;
  padding-left: 8px;
}

.speakers-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.speakers-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.speaker-card {
  color: black;
  display: block;
  height: 100%;
  padding: 16px 18px;
  margin: 10px auto;
}

.speaker-card-header {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  line-height: 24px;
}

.speaker-card-header img {
  height: 100px;
  margin-right: 16px;
  vertical-align: middle;
  box-sizing: border-box;
  object-fit: cover;
  border-width: 0;
  border-radius: 7px;
}

.speaker-card-description {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.speaker-card-description h2 {
  display: inline;
  font-size: 18px;
  line-height: 19.2px;
}

.speaker-card-description h3 {
  display: inline;
  font-size: 16px;
  font-weight: 300;
}

#overview {
  display: flex;
  flex-flow: row nowrap;
}

@media (max-width: 527px) {
}
