.fiatlux-images {
  max-width: 1400px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin: auto;
  padding: 40px 20px;
}

.flex-item {
  box-sizing: border-box;
  margin: 0px 10px;
  padding: 0px;
}

.fiatlux-images img {
  box-sizing: border-box;
  object-fit: cover;
  height: 220px;
  border-width: 0;
  border-radius: 7px;
}

.no-overflow {
    overflow: hidden;
}

#copy {
  padding-top: 0;
}

#attendees-aside {
    background-color: gray;
    position: -webkit-sticky;
    position: sticky;
    height: auto;
    float: right;
    width: 200px;
    top: 0px;
    bottom: 0px;
  }

#main {
    display: flex;
    flex-wrap: nowrap;
}